# Dependencias
node_modules
npm-debug.log

# Archivos de desarrollo
.git
.gitignore
.env.local
.env.development
.env.test

# Archivos de testing
coverage
*.spec.ts
test

# Archivos de documentación
README.md
docs
readmes

# Archivos de build
dist
build

# Archivos de IDE
.vscode
.idea
*.swp
*.swo
*~

# Archivos de sistema
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Archivos temporales
tmp
temp
.tmp
